@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

body {
	background-color: #F3F3F3;
	main: 0;
}
.main-area {
	@extend .row;
}
.content {
	@extend .col-xs-6;
	@extend .col-sm-6;
}
.sidebar {
	@extend .col-xs-4;
	@extend .col-sm-4;
}
.side-nav {
	@extend .col-sm-2;
	@extend .col-sm-2;
}
.column {
	margin-bottom: 30px;
	padding: 20px;
	height: auto;
	background-color: #F0F0F0;
	// font-size: 20px;
	cursor: pointer;
	// display: none;
	&:hover {
		background-color: #E1E1E1;
		cursor: pointer;
	}
	p {
		// display: none;
	}
	.contcol {
		background-color: #D6D6D6;
		padding: 10px;
	}
}

.glyphicon {
	float: right;
}
